@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 90px 0;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/* Slider Section */
.slider_section {
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
  width: 100%;
  height: 130vh;
  margin: 0;
}


.slider_section .row {
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: center;
}

.slider_section .detail-box p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.slider_section .detail-box .btn-box {
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  animation: upDown 5s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(-45px);
  }
  50% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}

/* Service Section */
.service_section {
    
  background-color: #ffffff;
  position: relative;
  width: 100%;
  margin: 0;
  
  
}

.service_section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #ddddff86;
  padding: 20px;
  border-radius: 5px;
}

.service_section .box .img-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section .box .detail-box a {
  color: #00204a;
  font-weight: 600;
}

.service_section .box .detail-box a:hover {
  color: #00bbf0;
}

.service_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
}

.service_section .btn-box a:hover {
  background-color: #007fa4;
}

/* About Section */
.about_section {
  background: linear-gradient(180deg, #193253 0%, #00204a 100%);
  color: #ffffff;
  width: 100%;
  margin: 0;
}

.about_section .heading_container {
  margin-bottom: 45px;
}

.about_section .row {
  align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0px;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #007fa4;
}

/* Footer Section */
.footer_section {
  position: relative;
  background: linear-gradient(180deg, #bcc9d8 0%, #ffffff 100%);
  text-align: center;
  width: 100%;
  margin: 0;
}

.footer_section p {
  color: #00204a;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00bbf0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.read-more-btn:hover {
  background-color: #007fa4;
  transform: scale(1.05);
}


/* Team Section */

.team_section {
  position: relative;
  padding: 60px 0;
  overflow: hidden;
  background: linear-gradient(180deg, #00204a 0%, #aecaee 100%);

}


.team_section .container {
  position: relative;
  z-index: 2;
}

.team_section .heading_container {
  margin-bottom: 40px;
}

.team_section .box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s;
  background-color: rgba(58, 74, 94, 0.586);
}

.team_section .box:hover {
  transform: scale(1.05);
}

.team_section .img-box {
  margin-bottom: 20px;
}

.team_section .img-box img {
  width: 100%;
  border-radius: 50%;
}

.team_section .detail-box h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color:#000000
}

.team_section .detail-box p {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.white {
  color: #ffffff;
}